@charset "utf-8";
.contacts{
	margin:0;
	padding:0;
	font-size: 14px;
}
.contacts li{
	height:44px;
	background-color:#CCC;
	margin-top:2px;
	padding:7px 10px;
	overflow: hidden;
	list-style-type:none;
}

.contacts .d1-3{
	float:left;
	margin-right:10px;
}

.contacts img{
	width:42px;
	height:42px;
	border: 1px solid #fff;
}

.contacts .info{
	width:171px;
	float:left;
	height:50px;
	font: inherit;
}
.contacts .info .nickname{
	height:24px;
	width: 171px;
	line-height:25px;
	
}

.people{
	padding:7px 10px;
}
.people img{
	width:60px;
	height:60px;
	border: 1px solid #fff;
}
.info{
	margin:0;
}
.info li{
	border-top:1px solid #CCC;
	height:30px;
	line-height:30px;
	list-style-type:none;
}
.clr {
	clear: both;
	height: 1px;
	overflow: hidden;
	display: block;
}