@charset "utf-8";
.gt-r-photo-stage-main {
	position: relative;
}

.gt-r-photo-stage-main img {
	position: absolute;
	/*
	left: 0;
	top: 100px;
	*/
}

.gt-r-photo-stage-imgbox {
	position: relative;
	/* margin: 0 auto;*/
}

.gt-r-photo-viewer {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    float: left;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}

.gt-rotating-1 .gt-r-photo-stage-main img {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1)
}

:root .gt-rotating-1 .gt-r-photo-stage-main img {
	filter: none;
	-ms-filter: none;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}

.gt-rotating-2 .gt-r-photo-stage-main img {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}

:root .gt-rotating-2 .gt-r-photo-stage-main img {
	filter: none;
	-ms-filter: none;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.gt-rotating-3 .gt-r-photo-stage-main img {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}

:root .gt-rotating-3 .gt-r-photo-stage-main img {
	filter: none;
	-ms-filter: none;
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg)
}

#reviews .gt-r-info {
	float: left;
	font-size: 12px;
	color: #b0b0b0
}