@charset "utf-8";
/*
 * 
 */
.nav2{width:auto;margin-bottom:10px;}

.line1{
	list-style: none outside none;
	background: #DCDCDC; height:40px; line-height:40px; margin:0; padding:0;
	letter-spacing:-4px;word-spacing:-4px;font-size:0;}

.line1 li{
	font-size: 16px;
	display:inline-block;
	letter-spacing:normal;word-spacing: normal;zoom:1;
}

.line1 a{display:inline-block; width:auto; margin:0; padding:0 15px; height:40px; line-height:40px;}
.line1 a:hover{background:#F4F3EF; }

.check{
	background:#F5F5F5;
	
}

.line2 {
	background:#F5F5F5;
	height:30px;
	border-bottom:1px solid #D3D3D3;
}
.line2 a{
	margin:0;
	padding:0 15px;
	display:inline-block;
	height:30px;
	line-height:30px;
}