@charset "utf-8";
#nav2{
	background: #F4F3EF;
}

.box{
  width:auto;height:auto;
  border-bottom:1px solid #FFF;
}


.nav {background-color: #FFFFFF;border: 1px solid #E3E3E3;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;margin-bottom: 1px;min-height: 20px;list-style: none outside none;}
.nav dd{line-height: 18px;margin-left: 0px;}/*内容*/
.nav dd{color: #999999;}/*内容*/
.nav dd a{display:block;padding: 6px 10px 6px 18px;}
.nav dd a:hover{background:#F4F3EF; }

.nav-list{margin-bottom: 10px;margin-top:0;}
.nav-list-more{border-top: 1px solid #F4F3EF;}
.nav-title{height: 31px;line-height: 31px;background: #F9F9F9;padding-left: 18px; font-size: 14px; font-weight: bold;color: #999999; border-bottom: 1px solid #E3E3E3;}
.nav-half-title{line-height: 28px;padding-left: 18px;border-top: 1px solid #F4F3EF;color: #999999;background-color: #FFF;}/*副标题*/
