@charset "utf-8";
#toolbar{
	right: 0px; top: 0px; position: fixed;
	background-color:#f0f0f0;
}

.toolbar{
	width:18px;
	height:18px;
	
	background-color:#F4F3EF;
}
.toolbar:hover{
	width:23px;
	height:23px;
	margin-top:-5px;
	background-color:#CCCCCC;
}

.mui-mbar-tabs-mask {
	position: fixed;  z-index: 5010;
	/*position: absolute;*/
	top: 1px;
	bottom: 1px;
	right: 0px;
	width: 35px;
	background-color: #000;
}
.close{margin-top:20px;width:33px;height:33px;background:white;display:block;}
.ssss{width: 240px;height: 736px;
	position: fixed;  z-index: 5009;
	top: 20px;right: 0px;
	overflow: hidden;background: none repeat scroll 0% 0% #FAFAFA;border:1px solid black;}
.ssss ul{
	margin:0;
	padding:0;
}
.ssss li{
	margin-left:8px;
	margin-top:4px;
	list-style-type:none;
	height:80px;
	border-bottom:1px dashed black;
}

